:root {
  --primary: #303030;
  --secondary: #005B60;
  --third: #00ADAD;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'poppins', sans-serif;
  background-color: #fff;
  color: #111;
}

/* --------- navbar --------- */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 7%;
  background-color: rgba(255,255,255, .9);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 500;
  color: var(--secondary);
}

.navbar .navbar-logo span {
  color: #00ADAD;
}

.navbar .navbar-nav a {
  color: var(--primary);
  display: inline-block;
  margin: 0 5px;
  font-size: 1.3rem;
}

.navbar .navbar-nav a:hover {
  color: var(--third);
}

.navbar .navbar-nav a::after {
  content: '';
  display: block;
  border-bottom: 2px solid var(--third);
  transform: scaleX(0);
  transition: .2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(.2);
}

#hamburger-menu {
  display: none;
}

.navbar .navbar-extra a {
  color: var(--primary);
  margin: 0 5px;
}

.navbar .navbar-extra a:hover {
  color: var(--third);
  transition: .3s;
}

.navbar .navbar-extra .cv {
  display: inline-block;
  background-color: var(--third);
  border-radius: 50px;
  padding: 6px 15px;
  color: #fff;
}

.navbar .navbar-extra .cv:hover {
  background-color: #006e6eff;
  color: white;
  transition: none;
}

/* -------- hero section -------- */

.hero {
  display: grid;
  margin: 0 6%;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
  place-items: center;
}

.hero .content {
  margin-top: 50px;
  font-size: 30px;
  color: var(--primary);
}

.hero .content .hello {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 5px;
}

.hero .second img {
  width: 550px;
  
}

.hero .content #typing {
  color: var(--third);
  margin-bottom: 20px;
}

.hero .content p {
  font-weight: 300;
  font-size: 20px;
}

.hero .content .cta {
  font-size: 1.4rem;
  font-weight: 400;
  display: inline-block;
  margin-top: 30px;
  color: white;
  background-color: var(--third);
  padding: 5px 24px;
  border-radius: 50px;
}

.hero .content .cta:hover {
  color: var(--third);
  background-color: var(--primary);
  transition: .3s;
}

/* --------- About ---------- */
.about {
  text-align: center;
  font-size: 1.4rem;
  padding: 40px 7% 100px;
}

.about .about-me h1, .work .tittle h1 {
  color: var(--primary);
  font-weight: 400;
  margin: 4rem 0;
}

.about .about-me span, .work .tittle span {
  color: var(--third);
}

.about .about-me p {
  font-size: 1.4rem;
  font-weight: 300;
}

.about .about-me img {
  width: 30rem;
  margin-bottom: 5rem;
}

/* ----------work section-----------*/
.work {
  padding-top: 40px;
  font-size: 1.4rem;
  text-align: center;
}

.work .row, .work .row-dua {
  margin-bottom: 10rem;
  display: flex;
  gap: 5rem;
  justify-content: center;
  align-items: center;
}

.work .row .work-image {
  width: 45%;
}
.work .row-dua .work-image {
  order: 2;
  width: 45%;
}

.work .row .work-image img,
.work .row-dua .work-image img{
  width: 100%;
  border-radius: 10px;
}

.work .row .content{
  width: 35%;
}
.work .row-dua .content {
  order: 1;
  width: 35%;
}

.work .row .content h3, 
.work .row-dua .content h3 {
  margin-bottom: 1.4rem;
}

.work .row .content p, 
.work .row-dua .content p {
  margin-bottom: 3rem;
}

.work .row .content a, 
.work .row-dua .content a {
  color: var(--primary);
  padding: 0 25px;
}
.work .row .content a:hover, 
.work .row-dua .content a:hover {
  color: var(--third);
}

.work .row .content .alat, 
.work .row-dua .content .alat {
  display: flex;
  justify-content: space-evenly;
}

.work .row .content .alat p, 
.work .row-dua .content .alat p {
  font-weight: 600;
}

/* ---------contact----------- */

.contact {
  padding: 80px 7% 0;
  color: white;
  background-color: var(--third);
}

.contact .contact-title h1 {
  font-size: 2rem;
  padding: 40px 0;
  text-align: center;
  font-weight: 400;
}

.contact .info-contact {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 40px;
}
.contact .info-contact .phone {
  display: flex;
  align-items: center;
}

.contact .info-contact .email {
  display: flex;
  align-items: center;
}
.contact .info-contact a {
  padding-left: 5px;
  font-size: 1.4rem;
  color: white;
}

.contact .main-contact {
  padding-bottom: 40px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.contact .main-contact p {
  width: 30rem;
  font-weight: 300;
  font-size: 4rem;
}

.contact .main-contact p span {
  color: var(--secondary);
  font-weight: 600;
}

.contact .main-contact .form {
  display: flex;
  flex-direction: column;
}

.contact .main-contact .form input{
  font-family: 'poppins', sans-serif;
  width: 35rem;
  color: rgba(48, 48, 48, 1);
  border-radius: 5px;
  margin-bottom: 15px;
  padding: .5rem .5rem;
}

.contact .main-contact .form label {
  font-size: 1.4rem;
}

.contact .main-contact .form textarea {
  font-family: 'poppins', sans-serif;
  border-radius: 5px;
  padding: 2px 5px;
  color: var(--primary);
}

.contact .main-contact .form #submit {
  font-family: 'poppins', sans-serif;
  display: inline-block;
  margin: 20px 0 0 0;
  color: var(--primary);
  width: 8rem;
}

/* ----------footer---------- */
.footer {
  text-align: center;
  font-size: 2rem;
  padding: 30px 0 0 0;
  color: white;
  background-color: var(--secondary);
}

.footer p {
  text-align: center;
}

.footer .icon-footer a img {
  width: 25px;
}

.footer .copy {
  padding: 40px 0 10px 0;
  font-size: 10px;
}



/* -------media queries------- */

/* laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* laptop kecil */
@media (max-width: 1065px) {
  html {
    font-size: 65%;
  }
  
  .hero .content .hello {
    font-size: 18px;
  }
  
  .hero .content #typing {
    font-size: 35px;
  }
  
  .hero .content p {
    font-size: 18px;
  }
  
  .hero .second img {
    width: 90%;
  }
}

/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
  
  #hamburger-menu {
    display: inline-block;
  }
  
  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 30rem;
    height: 100vh;
    transition: .3s;
  }
  
  .navbar .navbar-nav.active {
    right: 0;
  }
  
  .navbar .navbar-nav a {
    display: block;
    line-height: 50px;
    text-align: center;
    margin: 10px 0 0 0;
  }
  
  .navbar .navbar-extra {
    display: flex;
    align-items: center;
  }
  
  .hero {
    display: grid;
    grid-template-columns: 1fr;
    align-content: space-evenly;
  }
  
  .hero .content {
    text-align: center;
  }
  
  .hero .content #typing {
    font-size: 45px;
  }
  
  .hero .content p {
    font-size: 18px;
  }
  
  .hero .second img {
    display: block;
    margin: 0 auto;
    margin-top: -50px;
    width: 65%;
  }
  
  .work .row .content a, 
  .work .row-dua .content a {
    padding: 0 5px;
  }
  
  .contact .contact-title {
    padding-top: 50px;
  }
  
  .contact .main-contact p {
    width: 50%;
    font-size: 3.5rem;
  }
  
  .contact .main-contact .form input {
    width: 30rem;
  }
  
}

/* phone */
@media (max-width: 600px) {
  html {
    font-size: 55%;
  }
  
  .hero .content #typing {
    font-size: 30px;
  }
  
  .hero .content .hello {
    font-size: 10px;
  }
  
  .hero .content p {
    font-size: 10px;
  }
  
  .hero .second img {
    display: block;
    margin: 0 auto;
    margin-top: -100px;
    width: 85%;
  }
  
  .row, .row-dua {
    display: flex;
    flex-direction: column;
  }
  
  .work .row .content, 
  .work .row-dua .content {
    width: 60%;
  }
  
  .work .row .work-image, 
  .work .row-dua .work-image {
    width: 65%;
  }
  
  .work .row-dua .work-image {
    order: 1;
  }
  
  .work .row-dua .content {
    order: 2;
  }
  
  .contact .info-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .contact .info-contact .phone a, 
  .contact .info-contact .email a {
    padding-left: 5px;
  }
  
  .contact .main-contact {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .contact .main-contact p {
    text-align: center;
  }
  
  .contact .main-contact .form {
    padding-top: 10px;
  }
  
  .contact .main-contact .form input, 
  .contact .main-contact .form textarea {
    width: 30rem;
  }
  
  .contact .info-contact a {
    padding: 5px 0;
    font-size: 16px;
  }
  
  
  
}

